<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="1">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{HH:mm:ss.SSS}}{white} %style{%logger{36}}{cyan} %highlight{%-5level} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.testcontainers" level="info"/>
        <Logger name="com.github.dockerjava" level="info"/>
    </Loggers>
</Configuration>
