name: check

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

permissions:
  # Required: when using dependency-graph: generate-and-submit,
  # the GITHUB_TOKEN must have contents: write permission
  contents: write

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Gradle with GitHub Packages
        uses: ./.github/actions/setup-gradle-with-gpr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-actor: ${{ github.actor }}

      - name: Run Test
        run: ./gradlew test

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-${{ matrix.os }}'
          path: ./**/build/reports

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        lint-tool: [ detekt, ktlintCheck ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Gradle with GitHub Packages
        uses: ./.github/actions/setup-gradle-with-gpr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-actor: ${{ github.actor }}

      - name: Run lint
        run: ./gradlew ${{ matrix.lint-tool }}

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: ./**/build/reports
