name: deploy CentralPortal

on:
  push:
    tags:
      - '**'

permissions:
  # Required: when using dependency-graph: generate-and-submit,
  # the GITHUB_TOKEN must have contents: write permission
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5

      - name: Get commit SHA
        run: echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Check workflow status
        run: |
          curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ github.repository }}/actions/runs \
          | jq -r ".workflow_runs[] | select(.head_sha==\"${{ env.COMMIT_SHA }}\" and .name==\"check\") | .conclusion" > status.txt
          if grep -q "success" status.txt; then
            echo "Check passed!"
          else
            echo "Check failed or not found!"
            exit 1
          fi

      - name: Setup Gradle with GitHub Packages
        uses: ./.github/actions/setup-gradle-with-gpr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-actor: ${{ github.actor }}

      - name: Deploy centralPortal
        env:
          CENTRAL_PORTAL_USER: ${{ secrets.CENTRAL_PORTAL_USER }}
          CENTRAL_PORTAL_PASSWORD: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
        run: |
          ./gradlew deployCentralPortal -PartifactVersion="${GITHUB_REF#refs/tags/}"

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'build'
          path: ./**/build
